<%= render "share/header" %>
<div class="container">
	<div class="cow">
		<div class="col-12">
			<div class="title">
				<b class="width">Mypage</b>
			</div>
			<div class="indent">
				<h3>Name</h3>
				<p><%= @user.name %></p>
				<h3>Email</h3>
				<p><%= @user.email %></p>
				<%= link_to "プロフィール編集", edit_user_path, class: "btn btn-warning margin"  %>
			</div>
		</div>
	</div>
</div>
