<%= render "share/header" %>
<div class="container">
	<div class="cow">
		<div class="col-xs-12">
			<div class="title">
				<b class="width">ジャンル編集</b>
			</div>
			<div class="indent">
				<%= form_for(@choice) do |f| %>
					<h3>ジャンル名</h3>
					<%= f.text_field :genre %></br>
					<%= f.submit "更新する", class: "btn btn-success margin" %>
				<% end %>
			</div>
		</div>
	</div>
</div>