<%= render 'share/header' %>
<div class="page">
	<h2>ジャンル</h2>
	<table>
		<tbody>
			<% @choices.each do |c| %>
				<tr>
					<td><%= link_to c.genre, choice_contents_path(c) %></td>
					<% if current_user.email == "ore@admin" %>
						<td><%= link_to '編集', edit_choice_path(c) %></td>
						<td><%= link_to '削除', choice_path(c), method: :delete %></td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
