<%= render "share/header" %>
<div class="container">
	<div class="cow">
		<div class="col-xs-12">
			<div class="title">
				<b class="width">アイテム編集</b>
			</div>
			<div class="indent">
				<%= form_for(@content, url: choice_content_path(@choice, @content)) do |f| %>
					<h3>item名</h3>
					<%= f.text_field :item %></br>
					<%= f.submit "更新する", class: "btn btn-success margin" %>
				<% end %>
			</div>
		</div>
	</div>
</div>